

:root {

}

body {
   min-height: calc( 100dvh - 72px );
   height: 100%;
}

homepage {
   display: flex;
   flex-direction: column;
   flex: 1;
   width: calc( 100% - 64px );
   height: 100%;
   margin-left: auto;
   background: #1e222a;
   background: #212329;
   border-radius: 1.5em;
}

card[estacio] {
   display: flex;
   flex-direction: column;
   padding: 1.2em;
   border: #9999 solid 1px;
   border-radius: 9px;
}

competencias {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 1em;
   margin: auto;
   padding: 2em;
}
competencias > * {
   flex: 1 0 40%;
}