

:root {

}

body {
   min-height: calc( 100dvh - 72px );
   height: 100%;
   background: #1b1d22;
}

appbar {
   background: #1b1d22;
}

homepage {
   display: flex;
   flex-direction: column;
   flex: 1;
   /* width: calc( 100% - 64px ); */
   height: 100%;
   /* margin-left: auto; */
   background: #1e222a;
   background: #212329;
   border-radius: 1.5em;
}

progress {
   width: 100%;
}

card[estacio], [card-estacio] {
   display: flex;
   flex-direction: column;
   padding: 1.2em;
   border: #9999 solid 1px;
   border-radius: 9px;
}

competencias {
   display: flex;
   /* flex-direction: row !important; */
   flex-wrap: wrap;
   justify-content: center;
   gap: 1em;
   margin: auto;
   padding: 2em;
}
competencias > * {
   flex: 1 0 40%;
}







/* == [ solução tables ]
== == == == == == == == == */
solucao table {
   width: clamp(100px, 100%, 350px);
   margin: 1rem auto;
}

solucao thead > tr > th {
   background: #282a36;
}

solucao tr > th {
   background: #156;
}

solucao td {
   background: aqua;
   color: #18161c;
   text-transform: uppercase;
}

