

:root {
   font: 1em sans-serif;
   font-weight: 400;
   color: #bbb;
   
   
   color-scheme: light dark;
   background-color: #242424; /* vite */
   background: #1e2021;       /* dark reader */
   background-color: #212329;  /* céo */

   --main-c: #f5f5f5;

   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;


}

body {
   margin: 0;
   min-height: 100vh;
   height: 100%;
}

appbar {
   background: var(--appbar-c);
}

homepage {
   display: flex;
   flex-direction: column;
   /* padding: 1rem; */
   /* gap: 1rem; */
   /* background: var(--main-c); */
}

main {
   display: flex;
   flex-direction: column;
   /* padding: 1rem; */
   gap: 1rem;
   background: var(--main-c);
}

tema {
   display: flex;
   flex-direction: column;
   /* padding: 1rem; */
   gap: 1rem;
   background: var(--main-c);
}

content {
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

table {
   border-collapse: collapse;
   width: 95%;
   margin: auto;
}
td {
   text-align: center;
}
th, td {
   padding: 0.5rem;
}

h1, h2, h3, h4, h5, h6,
p, t, txt {
   overflow-wrap: break-word;
}

t { 
   display: block; 
   font-size: 1em;
   line-height: 1.5em;
}



@media ( prefers-color-scheme: light ) {
   :root {
      color: #213547;
      background-color: #ffffff;
      --paper-c: #fff;
      --main-c: #f5f5f5;
   }
   a:hover {
      color: #747bff;
   }
   button {
      background-color: #27f;
   } button a {
      color: #e9e6e3;
   }

}

@media ( prefers-color-scheme: dark ) {
   :root {
      color: #bbb;
      background-color: #212329;

      --appbar-c: #1b1d22;
      --paper-c: #1b1d22;
      --main-c: #212329;
      --paper-border-c: #fff3 0 0 0 1px;
      --respostas-border-c: #fc05 0 0 0 1px;
   }

   a:hover {
      color: #747bff;
   }
   button {
      background-color: #fc0;
   } button a {
      color: #16181c;
   }

   code {
      display: block;
      background: #0005;
      padding: .5rem;
      border-radius: 9px;
      white-space: break-spaces;
      backdrop-filter: blur( 12px );
   }
}


/* == [ modulos ] 
== == == == == == == == == */
modulo {
   display: flex;
   flex-direction: column;
   width: calc( 100% - 2rem );
   margin: auto;
   padding: 1rem;
   gap: 1rem;
   border-radius: .3rem;
   box-shadow: var(--paper-border-c);
   background: var( --paper-c );
}



/* == [ exercícios ] 
== == == == == == == == == */
ex {
   display: flex;
   flex-direction: column;
   width: calc( 100% - 2rem );
   margin: auto;
   padding: 1rem;
   gap: 1rem;
   border-radius: .3rem;
   box-shadow: var(--paper-border-c);
   background: var( --paper-c );
}

respostas {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   /* padding: 1rem; */
}
respostas > r, 
respostas > opc {
   display: block;
   border-radius: 12px;
   box-shadow: var(--respostas-border-c);
   padding: 1rem;
}


/* == [ properties ] 
== == == == == == == == == */
[block] { display: block; }
[dm] {
   display: flex;
   flex-direction: column;
}

[central] {
   margin: auto;
}

[big] { width: 100%; }
[medium] { width: 60%; }